<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ABOUT</h1>
</body>

<!--
    get: datos pasados por url
    post: se pasan cosas importantes y seguras
    delete: borrar un registro existente
    put: reemplazar una informacion existentes(actualiza)


    patch : es lo mismo que put pero es mas selectivo
    
    -)para utilizar PUT O DELETE HAY QUE INSTALAS UNOS MODULOS POR CONSOLA! 
     npm i method-override --save 
     pero luegp hay que configurarlo en app.js
-->

</html>
